<!--
	Created on : 7 févr. 2017, 09:58:32
	Author	 : Germain Lecorps and Régis Ramel
-->

<!Doctype html>
<html>
	<head>
		<base href="/" target="_blank">
		<meta charset="utf-8">
		<title>Gestionnaire de Packages</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="icon" href="icone.ico" />
		<!--CSS files-->
		<link rel="stylesheet" href="styles/bootstrap.css" />
		<link rel="stylesheet" href="styles/style.css">
		<link rel="stylesheet" href="styles/flexslider.css">
		<link rel="stylesheet" href="styles/font-awesome.css">
	</head>
	<body ng-app="packebianApp" ng-controller="MainCtrl as main">
		<div class="header">
			<div class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button id="navButton" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a href="/" class="navbar-brand">Packebian</a>
					</div>
					<div class="collapse navbar-collapse" id="js-navbar-collapse">
						<ul id="navbarPages" class="nav navbar-nav pull-right">
							<li id="searchButton" ng-class="main.currentPage('/search');"><a href="search">Liste des Packages</a></li>
							<li id="ticketsButton" ng-class="main.currentPage('/tickets');"><a href="tickets">Liste des Tickets</a></li>
							<li id="contribButton" ng-class="main.currentPage('/contribution');"><a href="contribution">Contribution</a></li>
							<li id="faqButton" ng-class="main.currentPage('/faq');"><a href="faq">FAQ / Tutoriels</a></li>
							<li id="logoutButton" ng-if="isAuthenticated" ng-click="main.logout()"><a href='/'>Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<section ui-view></section>
		</div>

		<footer>
			<div class="container">
				<div class="row">
					<div class="widget span3">
						<h4>A propos</h4>
						<p>Ce gestionnaire de package est le résultat d'un projet de RICM5 à Polytech Grenoble. Il a pour but de fournir aux étudiants des outils pour leur formation.</p>
						<p>Plus d'informations sur le <a href="http://air.imag.fr/index.php/Projet_2017_:_Gestionnaire_de_packages_Polytech">Wiki du projet</a></p>
					</div>
					<div class="widget span3">
						<h4>Polytech Grenoble :</h4>
						<p><i class="icon-map-marker"></i> Adresse : 14 Place du Conseil National de la Résistance, 38400 Saint-Martin-d'Hères</p>
					</div>
				</div>
				<div class="footer-border"></div>
				<div class="row">
					<div class="copyright span4">
						<p>Polytech Grenoble. Université Grenoble Alpes. RICM5 - 2017. Rémi Gattaz, Germain Lecorps, Thibaut Nouguier, Régis Ramel.</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		<script>
			 !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
			 (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
			 r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r);
			 }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			 ga('create', 'UA-XXXXX-X');
			 ga('send', 'pageview');
		</script>

		<!-- build:js(.) scripts/vendor.js -->
			<!-- bower:js -->
			<script src="bower_components/jquery/dist/jquery.js"></script>
			<script src="bower_components/angular/angular.js"></script>
			<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
			<script src="bower_components/angular-animate/angular-animate.js"></script>
			<script src="bower_components/angular-cookies/angular-cookies.js"></script>
			<script src="bower_components/angular-resource/angular-resource.js"></script>
			<script src="bower_components/angular-route/angular-route.js"></script>
			<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
			<script src="bower_components/angular-touch/angular-touch.js"></script>
			<script src="bower_components/angular-jwt/dist/angular-jwt.js"></script>
			<script src="bower_components/auth0-lock/build/lock.js"></script>
			<script src="bower_components/angular-lock/angular-lock.js"></script>
			<script src="bower_components/auth0.js/build/auth0.js"></script>
			<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
			<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
			<script src="scripts/app.js"></script>
			<script src="scripts/providers/auth0.js"></script>
			<script src="scripts/app.config.js"></script>
			<script src="scripts/app.run.js"></script>
			<script src="scripts/services/env.js"></script>
			<script src="scripts/services/auth0.js"></script>
			<script src="scripts/controllers/search.js"></script>
			<script src="scripts/controllers/tickets.js"></script>
			<script src="scripts/controllers/contribution.js"></script>
			<script src="scripts/controllers/faq.js"></script>
		<!-- endbuild -->
	</body>
</html>
