<!--
		Created on : 7 févr. 2017, 09:58:32
		Author		 : Germain Lecorps and Régis Ramel
-->

<!Doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!--Fichiers CSS-->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster">
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="styles/style.css">
		<link rel="stylesheet" href="styles/flexslider.css">
		<link rel="stylesheet" href="styles/font-awesome.css">
	</head>
	<body>
		<script>
			document.getElementById("ajoutArchive").className = "invisible";
			document.getElementById("lienArc").className = "invisible";
			document.getElementById("lienG").className = "invisible";
		</script>
		<div class="contact-us container">
			<h1>Formulaire de contribution</h1>
			<!--<div class="row">-->
			<form class="contact-us">
				<p>Ceci est la page proposant le formulaire d'ajout d'un package par un contributeur</p>
				<!--Dépôt-->
				<label for="name_package" id="typepLabel">Type de dépôt</label><br>
				<label class="filiere-checkbox">
					<input type="radio" name="depot" onclick="
						document.getElementById('ajoutArchive').className = '';
						document.getElementById('lienArc').className = 'invisible';
						document.getElementById('lienG').className = 'invisible';">Dépôt d'archive<br>
				</label>
				<label class="filiere-checkbox">
					<input type="radio" name="depot" onclick="
						document.getElementById('ajoutArchive').className = 'invisible';
						document.getElementById('lienArc').className = '';
						document.getElementById('lienG').className = 'invisible';">Lien de l'archive<br>
				</label>
				<label class="filiere-checkbox">
					<input type="radio" name="depot" onclick="
						document.getElementById('ajoutArchive').className = 'invisible';
						document.getElementById('lienArc').className = 'invisible';
						document.getElementById('lienG').className = '';">Lien Git
				</label><br>
				<div id="ajoutArchive">
					<input type=file id=fichier name=fichier/>
					<button ng-click=ajouter()>Ajouter</button><br>
				</div>
				<div id="lienArc">
					<input id="lienArchive" type="text" name="lien_archive" placeholder="Lien vers l'archive..."><br>
				</div>
				<div id="lienG">
					<input id="lienGit" type="text" name="lien_git" placeholder="Lien Git..."><br>
				</div>
				<!--Description du package-->
				<label for="name_package" id="namepLabel">Nom du package</label><br>
				<input id="name_package" type="text" name="name_package" placeholder="Entrez le nom du package..."><br>
				<label for="version" id="versionLabel">Version du package</label><br>
				<input id="name_package" type="text" name="name_package" placeholder="Entrez la version du package sous la forme majeure.mineure.fix..."><br>
				<label for="architecture" id="architectureLabel">Architecture du package</label><br>
				<select name="version">
					<option value="ubuntu">Ubuntu</option>
					<option value="debian">Debian</option>
					<option value="windows">Windows</option>
					<option value="autre">Autre</option>
				</select><br>
				<label for="maintainer" id="maintainerLabel">Maintainer</label><br>
				<input id="maintainer" type="text" name="maintainer" placeholder="Entrez votre nom et prénom..."><br>
				<label for="filiere" id="filiereLabel">Filière</label><br>
				<label class = "filiere-checkbox">
					<input type="checkbox" id="cbox1" value="checkbox1">
					RICM3
				</label>
				<label class = "filiere-checkbox">
					<input type="checkbox" id="cbox1" value="checkbox1">
					RICM4
				</label>													
				<label class = "filiere-checkbox">
					<input type="checkbox" id="cbox1" value="checkbox1">
					RICM5
				</label>													
				<br>
				<label for="matiere">Matière</label><br>
				<input id="matiere" type="text" name="matiere" placeholder="Entrez la matière désirée..."><br>
				<label for="description" id="descriptionLabel">Description</label><br>
				<textarea id="message" name="message" placeholder="Description du package..."></textarea><br>
				<label for="dependance" id="dependanceLabel">Dépendances</label><br>
				<input id="dependance" type="text" name="dependance" placeholder="Entrez les dépendances nécessaires pour le package séparées par un ;"><br>
				<button type="submit">Valider</button>
			</form>
		</div>
	</body>
</html>