<!--
	Created on	: 8 févr. 2017, 09:02:32
	Author		: Germain Lecorps and Régis Ramel
	Page		: FAQ and tutos page
-->

<div>
	<h1>FAQ / Tutoriels</h1>
	<!-- Tutorial section-->
	<h2>Tutoriels</h2>
	<div id="tutorials" class="faqAndTutos">
		<!--Get tutorials in faq.tutos in faq.js-->
		<div class='tutorial' ng-repeat="tuto in faq.tutos">
			<!--Display tutorial's name and content-->
			<h3>{{tuto.name}}</h3>
			<p>{{tuto.content}}</p>
		</div>
	</div>
	<br><br>
	<br>
	<br>
	
	<h2>FAQ</h2>
	<!-- Tutorial section-->
	<div id="faqs" class="faqAndTutos">
		<!--Get questions/answer in faq.faqs in faq.js-->
		<div class='faq' ng-repeat="faq in faq.faqs">
			<!--Display the question and the answer-->
			<h3>{{faq.question}}</h3>
			<p>{{faq.answer}}</p>
		</div>
	</div>
</div>
