<!--
    Created on : 7 févr. 2017, 09:58:32
    Author     : Germain Lecorps and Régis Ramel
-->

<link rel="stylesheet" type="text/css" href="../styles/login.css">

<header class="login_header">
	Login
</header>
<div>
	<form id="form" name="form" role="form">
		<div class="login_form">
			<label class="login_label" for="username">
				Username
			</label>
			<input type="text" name="username" id="username" class="login_input">
		</div>
		<div class="login_form">
			<label class="login_label" for="password">
				Password
			</label>
			<input type="password" name="password" id="password" class="login_input">
		</div>
		<div class="login_actions">
			<button type="submit" class="btn" ng-click="login.login()">
				Login
			</button>
		</div>
	</form>
</div>
