<!--
    Created on : 7 févr. 2017, 09:58:32
    Author     : Germain Lecorps and Régis Ramel
-->

<link rel="stylesheet" type="text/css" href="../styles/login.css">

<header class="login_header">
	Login
</header>
<div>
	<div>
		<h1>Hello {{main.profile.name}}</h1>
		<p>{{isAuthenticated}}</p>
		<p>Profile : {{main.userInfos.user}}</p>
		<p>Token : {{main.userInfos.token}}</p>
		<button ng-if="!isAuthenticated" ng-click="login.login()">Log In</button>
		<button ng-if="isAuthenticated" ng-click="login.logout()">Log Out</button>
	</div>
</div>
