<!-- 
		Created on	: 16 févr. 2017, 09:58:32
		Author		: Germain Lecorps and Régis Ramel
-->

<h1>Liste des Tickets</h1>
<div ng-controller="TicketsCtrl">
	<div class = "tableBfont">
		<div class = "wrapperB">
			<input ng-model ="userQuery" ng-change="setSearchFilter()" type="text" placeholder="Rechercher..." />
			<select ng-model="searchOn" ng-change="setSearchFilter()">
				<option value="$">Any</option>
				<option value="name">Nom</option>
				<option value="class">Matière</option>
				<option value="major">Filière</option>
				<option value="maintainer">Maintainer</option>
			</select>
			<br><br>
			<table class = "tableB" border="1" width="100%">
				<tr id="rowTitles" class = "rowB headerB blue" >
					<th style = "text-align: center" ng-click="orderByMe('name')">Nom</th>
					<th style = "text-align: center" ng-click="orderByMe('maintainer')">Maintainer</th>
					<th style = "text-align: center" ng-click="orderByMe('major')">Filière</th>
					<th style = "text-align: center" ng-click="orderByMe('class')">Matière</th>
					<th style = "text-align: center" ng-click="orderByMe('vote')"> Nombre de votes</th>
					<th style = "text-align: center" ng-click="orderByMe('vote')">Voter</th>
					<!--
					<th style = "text-align: center" ng-click="orderByMe('vote')">Validation</th>
					-->
				</tr>
				<tr id="rows" class = "rowB" ng-repeat="ticket in tickets | filter: searchFilter | orderBy: order">
					<td class ="cellB">{{ticket.name}}</td>
					<td class ="cellB">{{ticket.maintainer}}</td>
					<td class ="cellB">{{ticket.major}}</td>
					<td class ="cellB">{{ticket.class}}</td>
					<td class ="cellB">{{ticket.votes.length}}</td>
					<td class ="cellB">
						<input type="button" value="Voter">
					</td>
					<!--
					<td class ="cellB">
						<input type="button" value="Valider">
					</td>
					-->
				</tr>
			</table>
		</div>
	</div>
</div>
<script>displayValidation()</script>