<!--
	Created on	: 16 févr. 2017, 09:58:32
	Author		: Germain Lecorps and Régis Ramel
	Page		: Tickets search page
-->

<script src="scripts/controllers/tickets.js"></script>
<div>
	<h1>Liste des Tickets</h1>
	<div class="tableBfont">
		<div class="wrapperB">
			<!--Search text area-->
			<input ng-model="tickets.userQuery" ng-change="tickets.setSearchFilter()" type="text" placeholder="Rechercher..." />
			<!--Search criteria selector, set searchOn and calls setSearchFilter in tickets.js-->
			<select ng-model="tickets.searchOn" ng-change="tickets.setSearchFilter()">
				<option value="$">			Any</option>
				<option value="name">		Nom</option>
				<option value="class">		Matière</option>
				<option value="major">		Filière</option>
				<option value="maintainer">	Maintainer</option>
			</select>
			<br><br>
			<table class="tableB" border="1" width="100%">
				<!--Table titles with function to sort packages-->
				<tr id="rowTitles" class="rowB headerB blue" >
					<th style="text-align: center" ng-click="tickets.orderByMe('name')">Nom</th>
					<th style="text-align: center" ng-click="tickets.orderByMe('maintainer')">Maintainer</th>
					<th style="text-align: center" ng-click="tickets.orderByMe('major')">Filière</th>
					<th style="text-align: center" ng-click="tickets.orderByMe('class')">Matière</th>
					<th style="text-align: center" ng-click="tickets.orderByMe('class')">Nombre de votes</th>
					<th style="text-align: center">Voter</th>
					<!--Display the Valdation button if displayVal in app.js is true-->
					<th style="text-align: center" ng-show="displayVal">Validation</th>
				</tr>
				<!--Display tickets-->
				<tr id="rows" class="rowB" ng-repeat="ticket in tickets.data | filter: tickets.searchFilter | orderBy: tickets.order">
					<td class="cellB">{{ticket.name}}</td>
					<td class="cellB">{{ticket.maintainer}}</td>
					<td class="cellB">{{ticket.major}}</td>
					<td class="cellB">{{ticket.class}}</td>
					<!--Display vote results-->
					<td id={{ticket.id}} class="cellB">{{ticket.results.upvotes - ticket.results.downvotes}}</td>
					<!--Vote buttons-->
					<td class="cellB">
						<input type="button" value="-" ng-click="tickets.vote(ticket.id, -1, main.userInfos.user.id)">
						<input type="button" value="+" ng-click="tickets.vote(ticket.id, 1, main.userInfos.user.id)">
					</td>
					<!--Validation button-->
					<td class="cellB" ng-show="displayVal">
						<input type="button" value="Valider">
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
